

/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal6-reference.css file
 *   Forum            See line 197 of Zen's drupal6-reference.css file
 *   Menus            See line 667 of Zen's drupal6-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal6-reference.css file
 *   Polls            See line 287 of Zen's drupal6-reference.css file
 *   Search           See line 320 of Zen's drupal6-reference.css file
 *   User Profiles    See line 945 of Zen's drupal6-reference.css file
 */


/** body **/
  body {
	margin: 0;
	background-color: #37342C;
	color: #FFFFFF;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-rendering: optimizelegibility;
  }

  a:link, a:visited{
	color:#FC0;
	text-decoration:none;	  
  }
  
  a:hover  {
	  text-decoration:underline;
	  /*font-weight:bold;*/
	  
  }
  
  #page
  {
    font-size: 18px;
  }
#page-outer {
  
}
  #page-inner
  {
	
	  background-color:#37342C;
  }

/** header **/
  #header
  {
  }

  #header-inner
  {
  }

  #logo-title /* Wrapper for logo, website name, and slogan */
  {
  }

  #logo /* Wrapper for logo */
  {
    margin: 0 10px 0 0;
    padding: 0;
	
  }

  #logo-image /* The actual logo image */
  {
  }

  h1#site-name, div#site-name /* The name of the website */
  {
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
  }

  #site-name a:link,
  #site-name a:visited
  {
    color: #000;
    text-decoration: none;
  }

  #site-name a:hover
  {
    text-decoration: underline;
  }

  #site-slogan /* The slogan (or tagline) of a website */
  {
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
  }

/** main (container for everything else) **/
  #main
  {
  }

  #main-inner
  {
	    
  }

/** content **/
  #content
  {
	  
  }

  #content-inner
  {
	  
  }

  #mission /* The mission statement of the site (displayed on homepage) */
  {
  }

  #content-top /* Wrapper for any blocks placed in the "content top" region */
  {
  }

  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {
  }

  .breadcrumb /* The path to the current page in the form of a list of links */
  {
    padding-bottom: 0; /* Undo system.css */
  }

  h1.title, /* The title of the page */
  h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */
  {
    margin: 0;
  }

  div.messages /* Important messages (status, warning, and error) for the user */
  {
  }

  div.status /* Normal priority messages */
  {
  }

  div.warning, tr.warning /* Medium priority messages */
  {
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  }

  div.error, tr.error /* High priority messages. See also the .error declaration below. */
  {
  }

  div.tabs /* See also the tabs.css file. */
  {
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }

  #content-area /* Wrapper for the actual page content */
  {
	  background-color: #37342C;
	  padding-top:14px;
	  padding-left:12px;
	  padding-right:12px;
  }

  ul.links /* List of links */
  {
    margin: 1em 0;
    padding: 0;
  }

  ul.links.inline
  {
    margin: 0;
    display: inline;
  }

  ul.links li
  {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
  }

/** navbar **/
  #navbar
  {
  }

  #navbar-inner
  {
  }

  #search-box /* Wrapper for the search form */
  {
  }

  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }

  #primary /* Primary links */
  {
  }

  #secondary /* Secondary links */
  {
  }

/** sidebar-left **/
  #sidebar-left
  {
  }

  #sidebar-left-inner
  {
  }

/** sidebar-right **/
  #sidebar-right
  {
  }

  #sidebar-right-inner
  {
  }

/** footer **/
  #footer
  {
	  padding-top:50px;
	  text-align: center;
    background-color: #878271;
    border-top: thin double #333333;
    color: #FFFFFF;
    font-size: 0.8em;
    padding: 12px 20px 10px 80px;
    text-align: center;

  }

  #footer-inner
  {
  }

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
	  color:#FFFFFF;
	  font-size:.8em;
	  padding-left:100px;
  }

/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
  }

/** Drupal nodes **/
  .node /* Node wrapper */
  {
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
  {
  }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
  }

  .node-type-story /* Story content node */
  {
  }

  .node h2.title /* Node title */
  {
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .meta /* Wrapper for submitted and terms data */
  {
  }

  .node .submitted /* The "posted by" information */
  {
  }

  .node .terms /* Node terms (taxonomy) */
  {
  }

  .node .content /* Node's content wrapper */
  {
  }

  .node ul.links /* Node links. See also the ul.links declaration above. */
  {
  }

  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal comments **/
  #comments /* Wrapper for the list of comments and its title */
  {
    margin: 1em 0;
  }

  #comments-title /* Heading for the list of comments */
  {
  }

  .comment /* Wrapper for a single comment */
  {
  }

  .comment-inner /* Additional wrapper for a single comment */
  {
  }

  .comment-preview /* Preview of the comment before submitting new or updated comment */
  {
  }

  .comment.new /* A new comment since the user last viewed the page. */
  {
  }

  .comment.odd /* An odd-numbered comment in the list of comments */
  {
  }

  .comment.even /* An even-numbered comment in the list of comments */
  {
  }

  .comment.first /* The first comment in the list of comments */
  {
  }

  .comment.last /* The last comment in the list of comments */
  {
  }

  .comment-unpublished /* Unpublished comments */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
  {
  }

  .comment-published /* Published comments */
  {
  }

  .comment-by-anon /* A comment created by an anonymous user */
  {
  }

  .comment-by-author /* A comment created by the node's author */
  {
  }

  .comment-mine /* A comment created by the current user */
  {
  }

  .comment h3.title /* Comment title */
  {
  }

  .new /* "New" marker for comments that are new for the current user */
  {
    color: #c00;
  }

  .comment .picture /* The picture of the comment author */
  {
  }

  .comment .submitted /* The "posted by" information */
  {
  }

  .comment .content /* Comment's content wrapper */
  {
  }

  .comment .user-signature /* The user's signature */
  {
  }

  .comment ul.links /* Comment links. See also the ul.links declaration above. */
  {
    margin: 1em 0;
  }

  .indented /* Nested comments are indented */
  {
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
  }

  .preview .comment /* Preview of the comment before submitting new or updated comment */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal blocks **/
  .block /* Block wrapper */
  {
    margin-bottom: 1em;
  }

  .block.region-odd /* Zebra striping for each block in the region */
  {
  }

  .block.region-even /* Zebra striping for each block in the region */
  {
  }

  .block.odd /* Zebra striping independent of each region */
  {
  }

  .block.even /* Zebra striping independent of each region */
  {
  }

  .region-count-1 /* Incremental count for each block in the region */
  {
  }

  .count-1 /* Incremental count independent of each region */
  {
  }

  .block-inner /* Additional wrapper for block */
  {
  }

  .block h2.title /* Block title */
  {
  }

  .block .content /* Block's content wrapper */
  {
  }

  #block-aggregator-category-1 /* Block for the latest news items in the first category */
  {
  }

  #block-aggregator-feed-1 /* Block for the latest news items in the first feed */
  {
  }

  #block-block-1 /* First administrator-defined block */
  {
  }

  #block-blog-0 /* "Recent blog posts" block */
  {
  }

  #block-book-0 /* "Book navigation" block for the current book's table of contents */
  {
  }

  #block-comment-0 /* "Recent comments" block */
  {
  }

  #block-forum-0 /* "Active forum topics" block */
  {
  }

  #block-forum-1 /* "New forum topics" block */
  {
  }

  #block-menu-primary-links /* "Primary links" block */
  {
  }

  #block-menu-secondary-links /* "Secondary links" block */
  {
  }

  #block-node-0 /* "Syndicate" block for primary RSS feed */
  {
  }

  #block-poll-0 /* "Most recent poll" block */
  {
  }

  #block-profile-0 /* "Author information" block for the profile of the page's author */
  {
  }

  #block-search-0 /* "Search form" block */
  {
  }

  #block-statistics-0 /* "Popular content" block */
  {
  }

  #block-user-0 /* "User login form" block */
  {
  }

  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  }

  #block-user-2 /* "Who's new" block for a list of the newest users */
  {
  }

  #block-user-3 /* "Who's online" block for a list of the online users */
  {
  }

/** Drupal boxes **/
  /* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
  .box /* Wrapper for box */
  {
  }

  .box-inner /* Additional wrapper for box */
  {
  }

  .box h2.title /* Box title */
  {
  }

  .box .content /* Box's content wrapper */
  {
  }

/** Miscellaneous Drupal styles **/
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
  }

  tr.even /* Some tables have rows marked even or odd. */
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  tr.odd
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  li a.active /* The active item in a Drupal menu */
  {
	color: #FC0;
  }


/** Drupal forms **/
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 0;
  }

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font-weight: bold;
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  .form-submit /* The submit button */
  {
  }

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
    display: inline;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link /* The "Log in using OpenID" links. */
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  }

  #user-login-form li.user-link /* The "Cancel OpenID login" links. */
  {
    margin-top: 1em;
  }

  #user-login ul
  {
    margin: 1em 0;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * forms on the site.
   */
  form tbody
  {
    border-top: 1px solid #ccc;
  }

  form th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  form tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  form thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

#header div.block-menu {
    margin-bottom: 0;
    padding-top: 112px;
}

#header div.block-menu ul.menu {
	margin-bottom: 3px;
	width:100%;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #868D4A;	
	padding-bottom:4px;
}


#block-menu-menu-gunnison ul.menu {
		display:inline;
	
}
#header div.block-menu ul.menu li {
    display: inline;
    list-style: none outside none;
    margin-left: -5px;
/*	 padding: 0 0 0 12px;
*/}	
#header div.block-menu ul.menu li a {
	color: #FFF;
	font-size: 18px;
	padding: 5px 20px;
	text-decoration: none;
	letter-spacing: 1px;
/*	text-transform: uppercase;
*/}	
#header div.block-menu ul.menu li a:hover {
	color: #FC0;	
}


 #browse-front {
	/*margin-top: 40px;*/
	margin-left:20px;
	/*border-bottom: 1px solid #CCCCCC;*/
    border-top: 1px solid #CCCCCC;
    height: 120px;
    padding: 0px 0 0 70px;
    width: 300px;
/*	background: url("/sites/default/files/browse.png") no-repeat scroll right center #FFFFFF;
*/	
}
#browse-front {
	font-size:12px;	
	
}
#visit-front {
	/*margin-top: 40px;*/
	margin-left:20px;
/*border-bottom: 1px solid #CCCCCC;*/    border-top: 1px solid #CCCCCC;
    height: 120px;
    padding: 0px 0 0 70px;
    width: 300px;
/*	background: url("/sites/default/files/visit.jpg") no-repeat scroll right center #FFFFFF;
*/	
}
#visit-front {       
	font-size: 12px;	
	
}
#resources-front {
	/*margin-top: 40px;*/
	margin-left:20px;
/*border-bottom: 1px solid #CCCCCC;*/    border-top: 1px solid #CCCCCC;
    height: 120px;
    padding: 0px 0 0 70px;
    width: 300px;
/*	background: url("/sites/default/files/resources.jpg") no-repeat scroll right center #FFFFFF;
*/	
}
 #artists-front{
	/*margin-top: 40px;*/
	margin-left:20px;
/*border-bottom: 1px solid #CCCCCC;*/    border-top: 1px solid #CCCCCC;
    height: 120px;
    padding: 0px 0 0 70px;
    width: 300px;
/*	background: url("/sites/default/files/artists.jpg") no-repeat scroll right center #FFFFFF;*/
	
}
#resources-front, #artists-front {
		font-size: 12px;	
	
}

.center-wrapper .panel-panel h2 {
    font-size: 17px;
    margin-bottom: 10px;
}
.panel-2col-bricks .panel-col-first .pane-node {
	padding:0 0 0 42px;
	
}

.view-gunnison-frontpage .views-row-even,
.view-gunnison-frontpage .views-row-odd {
position: relative;
top:20px;/*ewb*/
left:10px;
margin:auto;
float:left;
}

div.view-gunnison-frontpage div.views_slideshow_singleframe_teaser_section {
  height: 245px !important;
} /*override the slideshow height*/

div.view-gunnison-frontpage div.views_slideshow_singleframe_slide {
  height: 245px !important;
  width: 960px !important;
} /*override the slide height and width*/

div.view-gunnison-frontpage div.views-row {
  float: left; 
} /*floating each row to the left*/

.view-gunnison-frontpage .views-field-field-image-fid {
	margin-left:22px;	
	
	
}

.view-gunnison-frontpage .views-field-field-image-fid img {
	
	-webkit-box-shadow: 1px 8px 9px 5px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 8px 9px 5px rgba(0, 0, 0, .3);
	box-shadow: 1px 8px 9px 5px rgba(0, 0, 0, .3); 
}


#views_slideshow_singleframe_controls_frontpage_banners-panel_pane_1 a#views_slideshow_singleframe_prev_frontpage_banners-panel_pane_1 {
    background-position: 0 0;
    left: 0;
}


#views_slideshow_singleframe_controls_gunnison_frontpage-block_1 a.views_slideshow_singleframe_previous  {
   
    background-color: transparent;
    background-image: url("/sites/all/themes/photographs/previous.png");
    display: block;
    height: 29px;
    position: absolute;
    /*text-indent: -3333px;*/
	font-size:1px;
    top: 134px;
    width: 15px;
	color:#FFF;
	z-index:999;
}

#views_slideshow_singleframe_controls_gunnison_frontpage-block_1 a.views_slideshow_singleframe_next  {
	
	background-color: transparent;
    background-image: url("/sites/all/themes/photographs/next.png");
    display: block;
    height: 29px;
	right:40px;
    position: absolute;
	font-size:1px;
    /*text-indent: -3333px;*/
    top: 134px;
    width: 15px;
	color:#FFF;
	z-index:999;
}

#views_slideshow_singleframe_controls_gunnison_frontpage-block_1 a.views_slideshow_singleframe_play  {
	display:none;
	
}

#header-blocks {
    clear: none;
}


#header div#block-search-0 {
   	padding-top:30px;
	padding-right:150px;
    z-index: 100;
	/*position:absolute;
	top:60px;
	left:920px;*/
	
}
#block-search-0 h2{
		
	display:none;
	
}
#block-search-0 {
    color: #CCCCCC;
    float: right;
    padding-right: 9px;
    padding-top:3px;
}

#block-search-0 .container-inline label {
	display:none;	
}
/*#edit-search-block-form-1 {
	width:280px;	
	
}*/
	
/*#header div#block-search-0 {
    padding-top: 45px;
    z-index: 100;
}

#block-search-0 {
    color: #CCCCCC;
    float: right;
    padding-right: 9px;
}	*/

.breadcrumb {
	padding-top:6px;
	padding-bottom:8px;
  }
.breadcrumb a:link, .breadcrumb a:visited  {
	  color:#FC0;
	  text-decoration:none;
}
.view-view-by-subject  tr.even {
    background-color: #666666;
    border-bottom: 1px solid #333;
    padding: 0.1em 0.6em;
}
.view-view-by-subject tr.odd {
    background-color: #333;
    border-bottom: 1px solid #333;
    padding: 0.1em 0.6em;
}


.view-view-by-subject  .views-field  {
	padding:12px 52px 12px 8px;
	
}

.view-view-by-creator tr.odd,  {
	background-color: #333;
	
}

.view-view-by-creator   tr.even  {
	background-color:#666666;	
	
	
}
.view-view-by-creator .views-field  {
	padding:12px 52px 12px 8px;
	
}


.view-gunnison-browse .views-field-field-image-fid  {
	
	padding:28px 40px 6px 40px;
	
}
.view-gunnison-browse .views-field-field-image-fid img {
	box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	 -moz-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
  	-webkit-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
 	 box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	 
	border: 4px solid #FFFFFF;
    /*box-shadow: 5px 5px 5px #888888;*/

}

#gunnison-item  .field-field-image img {
	box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	 -moz-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
  	-webkit-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
 	 box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	 
	border: 4px solid #FFFFFF;
    box-shadow: 5px 5px 5px #888888;
	
}
/*.imagecache-120 img  {
	
	box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	 -moz-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
  	-webkit-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
 	 box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	
	
	border: 4px solid #FFFFFF;
    box-shadow: 5px 5px 5px #888888;
}*/


.view-gunnison-browse  {
	padding-bottom:120px;
	
	
}

.view-gunnison-browse .views-field-title   {
	padding-left:40px;
	padding-top:12px;
	width:240px;
	
}

.view-gunnison-browse .views-field-title a {
	/*color:#0066CC;*/
	
	color:#FC0;
	text-decoration:none;
}
.view-gunnison-browse .views-field-title a:hover {
	color:#FF3;	/*font-weight:bold;*/
	
}

.view-gunnison-browse  .views-field-field-source-folder-value {
	padding-left:40px;
	
}


.node-type-gallery-record  h1.title  {
	font-size:1.3em;
	
}

/******ewb gallery records **********/



#gunnison .pane-field-image {
	padding-top:16px;	
	padding-bottom:4px;
	
	
}

#gunnison  .field-field-image a {
	
	background-image: url("/sites/all/themes/gunnison/images/enlarge.png");
	background-repeat: no-repeat;
	font-size:1px;
	color:#999999;
		width:425px;
    height: 35px;
	position: absolute; 
	clear:none;     
	margin-top:4px; 
              
}
#gunnison  .field-field-image a:hover {
	
	background-image: url("/sites/all/themes/photographs/enlarge-h.png");
	background-repeat: no-repeat;
	font-size:1px;
	color:#999999;
	width:425px;
    height: 35px;
	position: absolute; 
	clear:none;            

}


#gunnison-record .panel-col-last  {
	padding-top:14px;	
	
}
#gunnison-record .panel-col-last a:link, a:visited {
	color:#FC0;

}
#gunnison-record .panel-col-last a:hover {
	/*font-weight:bold;*/
	
	
}
#gunnison-record .panel-col-last .panel-pane  {
	padding-top:12px;	
	
}
.field-field-right-caption  {
	color:#333;	
	float:right;
	
}
.field-field-left-caption  {
	color:#333;	
	float:right;
	
}

#gunnison-front .field-field-right-photo img {
	display:none;
	
}

.pane-item-group-rights  {
	padding-top:12px;	
	
}

#skip-to-nav a:link, #skip-to-nav a:visited {
    display:none;
}


/*********** ewb common changes for top navigation *******************/

#page-outer #primary {
    float: right;
}
#page-outer {
    background: url("/sites/all/themes/photographs/primary-bg.png") repeat-x scroll 0 0 transparent;
    height: 32px;
    padding: 11px 15px 20px;
}
 #page-outer a:first-child
 {
 }
 #page-outer #primary
 {
   float: right;
 }
 #page-outer a
 {
   text-decoration: none;
     color:#e9e7d6;
 }
 #page-outer a:hover
 {
   text-decoration: underline;
     color:#fff;
 }
 #page-outer ul.links {
    margin: 0;
    padding: 0;
}
 #page-outer ul.links li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}
/*********** END common changes for top navigation *******************/

#content, .no-sidebars #content  {
	padding-top:18px;	
	
}

#content-area .views-table {
	background-color:#37342C;
	border-bottom-style: double;
	border-bottom-color: #000;
}


.view-building-reference-views .field-content  {
	
	padding-right:34px;
	top:8px;
	
}

#front-left {
	
	float:right;
	padding-right:85px;
	
}

.node .submitted {
  display: none;
}	

#views_slideshow_singleframe_prev_adk_sutra_slideshow-block_1, #views_slideshow_singleframe_playpause_adk_sutra_slideshow-block_1 {
  padding-right: 6px;
  
}

#views_slideshow_singleframe_controls_adk_sutra_slideshow-block_1 {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  background-color: #353732;
}


#views_slideshow_singleframe_pager_adk_sutra_slideshow-block_1  {
    background-color: #353732;
    padding-bottom: 12px;

}


#content-area {
   /* background-color: #51554b;*/
    padding: 14px 18px 26px 18px;
}

#exhibit img {
    border: 4px solid #FFFFFF;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.2);
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;

}
.node-type-book .field-field-image img {
    border: 4px solid #FFFFFF;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.2);
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 40px;
    clear:right;


}
.page-collections-adirondack-poetry h1 {
  color: #666666;
  font-size: 1.7em;
}

#adkpoetry h2.pane-title {
  font-size:1.4em;
}
#adkpoetry .pane-content p {
  line-height: 1.5em;

}
#exhibit h3 {
  font-size:1.1em;
}

.book-navigation {
  clear: both;
  padding-top: 35px;
}

.book-navigation a {
  color: #1b5e81;
  font-weight: bold;
}

#book-block-menu-1156 a {
  color: #1b5e81;
}
#book-block-menu-1156 li a.active {
  color: #1b5e81;
  font-weight: bold;
}

.node-type-book .block ul, .node-type-book .item-list ul {
    margin: .2em 0;
    padding: 0 0 0 .7em;
}


.book-navigation {
display:none;
}

#content h1.title {
  display: none;
}


