@charset "UTF-8";
/* CSS Document */
body  {
	/*background-color:#474338;*/
	background-color:#37342c;
	color:#fff;
	font-family: Georgia, serif;
	;
	line-height: 1.1em;
}

h1  {
	font-size:1.4em;

}

#remington-item div.field-field-image .field-items .field-item {
    display: inline;
    float: left;
    padding: 3px;
}
.pane-field-transcript .pane-content {
	border: 2px groove threedface;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
	padding: 0 10px 2px 10px;
	
}

#content-area {
	margin-right:35px;
	
	
}

#logo {
	
	
}

/******* ewb menu styling *************/

#header {
	/*border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #868D4A;	*/
	
}

#header div.block-menu  {
	padding-top: 115px;	
	
}


#header div.block-menu ul.menu {
	/*background-color: #069;*/
	/*background-color: #376099;*/
	/*background-color: #1C4979;*/
	background-color: #474338;
		background-color:#37342c;

	/*border-top: 1px solid #E9E7D6;*/
	margin: 0;
	padding: 5px 20px;
}
#header div.block-menu ul.menu li {
    list-style: none outside none;
	padding:0 0 0 12px;
}
#header div.block-menu ul.menu li {
    display: inline;
    list-style: none outside none;
    margin-left: -5px;
	
}
#header div.block-menu ul.menu {
    
	border-bottom: 3px solid #868D4A;
    margin: 0;
}
#header div.block-menu ul.menu li a {
  /*  border-right: 1px solid #E9E7D6;*/
    color: #E9E7D6;
    padding: 5px 20px;
    text-decoration: none;
	font-size:18px;
		

}
#header div.block-menu ul.menu li a:hover {
	color: #FC0;	

}


/************************/


#transcript-disclaimer  {
	font-size: small;
	font-style: italic;	
}
.pane-field-transcript  h3 {
	color:#333;
	font-weight:bold;
	font-size:1.1em;
	
}


#page-wrapper {
	background-color:#474338;
		background-color:#37342c;

/*	border: 2px solid #2F2D26;	
*/}
#main  {
	padding: 0 12px 0 12px;	
	
}
#main-wrapper {
	
	
}
	
	


#footer {
	background: url("../images/footer-bg.jpg") repeat scroll center top; 
	border-top-width: thin;
	border-top-style: double;
	border-top-color: #333;	
	background-color:#474338;
	font-size:.8em;
    color: #FFFFFF;
    font-size: 0.8em;
    padding: 12px 20px 10px 80px;
    text-align: center;
	
	
}


.page-collections-frederic-remington-collection .title  {
	display:none;	
	

}
	


/*********** ewb common changes *******************/

#page-outer #primary {
    float: right;
}
#page-outer {
    background: url("../images/primary-bg.png") repeat-x scroll 0 0 transparent;
    height: 32px;
    padding: 11px 15px 20px;
}
 #page-outer a:first-child
 {
 }
 #page-outer #primary
 {
   float: right;
 }
 #page-outer a
 {
   text-decoration: none;
     color:#e9e7d6;
 }
 #page-outer a:hover
 {
   text-decoration: underline;
     color:#fff;
 }
 #page-outer ul.links {
    margin: 0;
    padding: 0;
}
 #page-outer ul.links li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}


#header div#block-search-0 {
   	padding-top:1px;
	padding-right:32px;
    z-index: 100;
}
#block-search-0 h2{
		
	display:none;
	
}
#block-search-0 {
    color: #CCCCCC;
    float: right;
    padding-right: 9px;
    padding-top:3px;
}
.with-navigation #content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
    margin-top: 0em;
}
.page-collections-frederic-remington-collection-browse ul.primary li a .tab  {
	display:none;

}
.page-collections-frederic-remington-collection-browse ul.primary li a  {
	display:none;

} 

#content-area  {
	min-height:600px;	
	
	
}


.view-remington-browse .views-field-field-image-fid  {
	
	padding:28px 40px 6px 40px;
	
}
.view-remington-browse .views-field-field-image-fid img {
	box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	 -moz-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
  	-webkit-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
 	 box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);

}

#remington-item  .field-field-image img {
	box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	 -moz-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
  	-webkit-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
 	 box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	
}
.imagecache-120 img  {
	
	box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	 -moz-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
  	-webkit-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
 	 box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	
}


.view-remington-browse  {
	padding-bottom:120px;
	
	
}



.view-remington-browse .views-field-title a {
	
	
	/*color:#0066CC;*/
	color:#FC3;
	text-decoration:none;
	
}

.view-remington-browse  .views-field-field-source-folder-value {
	padding-left:40px;
	
}
.view-remington-browse .views-field-title   {
	padding-left:40px;
	width:240px;
	
}

a:hover {
	
	
}
a:visited, a:link, a.active {
	
	color:#FC3;
	
}
li a.active  {
	color:#FFFF99;
	
}


#remington-front-info-browse  {
	
	padding-left:60px;
	
}

#remington-front-info  {
	font-size:.8em;
	padding:12px;
	margin:22px;
	border: 1px solid #CCC;	
	
}

.view-view-by-creator tr.even, tr.odd {
    background-color: #37342c;
    border-bottom: 1px solid #CCCCCC;
   
}
.view-view-by-subject tr.even, tr.odd {
    background-color: #37342c;
    border-bottom: 1px solid #CCCCCC;
   
}
.view-view-by-creator .views-field {
	
	padding: 18px;
	
}
.view-view-by-subject  .views-field {
	
	padding: 18px;
	
}


#block-luceneapi_facet-luceneapi_node .item-list {
	float:left;

}